{{#each posts}}
<article class="card mb-3">
  <div class="card-header">
    <div class="row">
      <div class="col-12 col-md-7">
        <h2 class="card-title">{{title}}</h2>
      </div>
      <div class="col-12 col-md-5 text-end text-muted byline">
        Posted by {{user.username}} on {{format_date created_at}}
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{body}}</p>
    <p><a href="post/{{id}}">{{comment_count}} {{format_plural 'comment' comment_count}}</a></p>
  </div>
</article>
{{/each}}